// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "vendor/bootstrap-5.3.3/scss/functions";

// 2. Include any default variable overrides here
$primary: #000000;
$enable-rounded: false;
$enable-rfs: false;

$h1-font-size: 2.5rem;
$h2-font-size: 1rem;
$h3-font-size: 2rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$font-family-sans-serif: "PT Sans Narrow", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "vendor/bootstrap-5.3.3/scss/variables";
@import "vendor/bootstrap-5.3.3/scss/variables-dark";

// 4. Include any default map overrides here
$secondary: $gray-600;


// 5. Include remainder of required parts
@import "vendor/bootstrap-5.3.3/scss/maps";
@import "vendor/bootstrap-5.3.3/scss/mixins";
@import "vendor/bootstrap-5.3.3/scss/root";

// 6. Optionally include any other parts as needed
@import "vendor/bootstrap-5.3.3/scss/utilities";
@import "vendor/bootstrap-5.3.3/scss/reboot";
@import "vendor/bootstrap-5.3.3/scss/type";
@import "vendor/bootstrap-5.3.3/scss/images";
@import "vendor/bootstrap-5.3.3/scss/containers";
@import "vendor/bootstrap-5.3.3/scss/grid";
@import "vendor/bootstrap-5.3.3/scss/tables";
@import "vendor/bootstrap-5.3.3/scss/forms";
@import "vendor/bootstrap-5.3.3/scss/buttons";
@import "vendor/bootstrap-5.3.3/scss/transitions";
@import "vendor/bootstrap-5.3.3/scss/dropdown";
@import "vendor/bootstrap-5.3.3/scss/button-group";
@import "vendor/bootstrap-5.3.3/scss/nav";
@import "vendor/bootstrap-5.3.3/scss/navbar";
@import "vendor/bootstrap-5.3.3/scss/card";
@import "vendor/bootstrap-5.3.3/scss/accordion";
@import "vendor/bootstrap-5.3.3/scss/breadcrumb";
@import "vendor/bootstrap-5.3.3/scss/pagination";
@import "vendor/bootstrap-5.3.3/scss/badge";
@import "vendor/bootstrap-5.3.3/scss/alert";
@import "vendor/bootstrap-5.3.3/scss/progress";
@import "vendor/bootstrap-5.3.3/scss/list-group";
@import "vendor/bootstrap-5.3.3/scss/close";
@import "vendor/bootstrap-5.3.3/scss/toasts";
@import "vendor/bootstrap-5.3.3/scss/modal";
@import "vendor/bootstrap-5.3.3/scss/tooltip";
@import "vendor/bootstrap-5.3.3/scss/popover";
@import "vendor/bootstrap-5.3.3/scss/carousel";
@import "vendor/bootstrap-5.3.3/scss/spinners";
@import "vendor/bootstrap-5.3.3/scss/offcanvas";
@import "vendor/bootstrap-5.3.3/scss/placeholders";
@import "vendor/bootstrap-5.3.3/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "vendor/bootstrap-5.3.3/scss/utilities/api";

// 8. Add additional custom code here

