html {
    font-size:  1rem;
}

h1, h2, .encode-sans-regular-semibold-condensed { /* VIRGINIA, nomi progetti */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h3, h4, .pt-sans-narrow-regular { /* MILVIA TEMPERINI, sezioni */
    font-family: "Inter", sans-serif;
}
  

h1 {
    font-size: 1.5rem;
    letter-spacing: auto;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    letter-spacing: auto;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    margin-top: auto;
    text-align: left;
    letter-spacing: auto;
}

h4 {
    font-size: 1.20rem;
    margin-top: auto;
    text-align: left;
    letter-spacing: auto;
}

h5 {
    font-size: 1rem;
    margin-top: auto;
    text-align: left;
    letter-spacing: auto;
}

p {
    text-align: center;
}

#cover {
    width: 100vw;
    height: 120vh;
    margin-bottom: 8rem;
}

#p1_bt {
    width: 100vw;
    height: 120vh;
    img {
    border-radius: 0.5rem; /* Puoi regolare il valore per ottenere l'arrotondamento desiderato */
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    html {
        font-size:  1rem;
    }
    
    h1 {
        font-size: 12.75rem;
        letter-spacing: -1.7rem;
    }

    h3 {
        letter-spacing: 1.875rem;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }

.container {
    justify-content: space-evenly;
  }




/*
Codice per mostrare le colonne -- DA RIMUOVERE

Seleziona tutti i div, figli di un tag con class="row", il cui nome inizia per col.
In pratica soluzione tutte le colonne

--- INIZIO

div[class^="container"] {
    position: relative;
}

.row > div[class^="col"] {
    border: 1px solid cyan;
    position: relative;
}

.row > div[class^="col"]:before {
    background-color: rgba(0,255,255, 0.25);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.row > div[class^="col"]:after {
    background-color: rgba(255,255,255, 1);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    z-index: -1;
}


Codice per mostrare le colonne -- DA RIMUOVERE
--- FINE
*/